@use '@angular/material' as mat;

// Definición de la paleta negra personalizada con varias tonalidades
$black-palette: mat.define-palette((
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #d5d5d5,
  A200: #aaaaaa,
  A400: #303030,
  A700: #616161,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
));

// Definición de la paleta blanca personalizada
$white-palette: mat.define-palette((
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #f2f2f2,
  A200: #e6e6e6,
  A400: #cccccc,
  A700: #b3b3b3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
));

// Definición del tema personalizado
$portafolio-theme: mat.define-light-theme((
  color: (
    primary: $black-palette,
    accent: $white-palette,
    warn: mat.define-palette(mat.$red-palette),
  )
));


@include mat.all-component-themes($portafolio-theme);
